{% extends "base.html" %}

{% block main %}
<h2>Properties</h2>
{% include 'flash_messages.html' %}
<div class="allproperties">
{% for prop in props: %}
  <div class="property">
    <img class="photo" src="{{url_for('get_image', filename=prop.photofile) }}" />
	<div class="info">
	<div class="ptitle"> <b>{{ prop.title }}</b> </div>
	<div class="plocation">
		<img class="icon" src="{{url_for('static', filename='icon.png') }}" />
		{{ prop.location }}
  </div>
  
  <div class="pprice"> ${{ prop.price }} </div>
  </div>
  <a href="{{ url_for('view_property', propertyid=prop.id) }}" class="btn">View Property</a>
  </div>
{% endfor %}
</div>
{% endblock %}